<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Temporary CSS styling -->
    <style>
        canvas {
            border: 1px solid #d3d3d3;
            background: url("../public/assets/images/playAreaBG.gif");
        }
    </style>

    <title>Space Trader</title>

</head>

<body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="../public/assets/js/playArea.js"></script>

</body>

</html>