<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link to CSS -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <!-- jQuery link -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Google font link -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>Space Trader</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-3 user-hud">
                <p>User Name</p><img id="user-img" class="img-fluid" src="../public/assets/images/space-cat1.png" alt="">
            </div>
            <div class="col-md-3 map">
                <p>Planet Name</p><img class="img-fluid" src="../public/assets/images/planet2.jpg" alt="">
            </div>
            <div class="col-md-3 map">
                <p>Planetary Happiness</p>
            </div>
            <div class="col-md-3 map">
                <p>Planet Name</p><img class="img-fluid" src="../public/assets/images/planet5.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 money-hud">
                <div class="row">
                    <div class="col">
                        <p>Money:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Fuel:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3 cargo-hud">
                <div class="row">
                    <div class="col-md-6">
                        <p>Food: 100</p>
                    </div>
                    <div class="col-md-6">
                        <p>Water: 100</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>r3</p>
                    </div>
                    <div class="col-md-6">
                        <p>r4</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>r5</p>
                    </div>
                    <div class="col-md-6">
                        <p>r6</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>r7</p>
                    </div>
                    <div class="col-md-6">
                        <p>r8</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>r9</p>
                    </div>
                    <div class="col-md-6">
                        <p>r0</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button>END MISSION</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 map">
                <p>Planet Name</p><img class="img-fluid" src="../public/assets/images/planet1.jpg" alt="">
            </div>
            <div class="col-md-3 map">
                <p>Planet Name</p><img class="img-fluid" src="../public/assets/images/planet4.jpg" alt="">
            </div>
            <div class="col-md-3 map">
                <p>Planet Name</p><img class="img-fluid" src="../public/assets/images/planet3.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>