<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Temporary CSS styling -->
    <style>
        canvas {
            border: 1px solid #d3d3d3;
            background: url("assets/images/playAreaBG.gif");
        }
    </style>

    <title>Space Trader</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    <button id="test">Submit</button>


    <!-- Canvas for displaying playArea.js -->
    <canvas id="myCanvas" width="960" height="540"></canvas>
    

    <script src="assets/js/playArea.js"></script>

</body>

</html>